/* ==================== Media Queries for different screen sizes ====================== */

/* For screens with max-width 1620px */

@media screen and (max-width: 1620px) {
  nav ul li a {
    font-size: 0.8rem;
    margin: 19px 8px;
    padding: 14px 16px;
  }
  .hero-text {
    font-size: 2rem;
  }
  .footer {
    background-color: #333;
    color: #fff;
    padding: 50px 20px;
  }
  .footer-section.about .logo-text {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

/* For screens with max-width 1515px */

@media screen and (max-width: 1515px) {
  nav ul li a {
    font-size: 0.6rem;
  }
  .footer-section {
    width: 20%;
  }
  .hero-text {
    font-size: 1.5rem;
  }
  .typing-container {
    font-size: 2rem;
  }
  .hero_image {
    margin-left: 400px;
  }

  .contact-content-con .right-contact .i-c-2 {
    display: flex;
  }
}
/* For screens with max-width 1385px */

@media screen and (max-width: 1385px) {
  nav ul li a {
    margin: 0 5px;
    align-items: center;
    padding: 14px 0px;
    font-size: 0.8rem;
  }

  .hero_image {
    width: 25%;
  }
  .logo {
    width: 50%;
    margin-left: 0rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .hero-text {
    font-size: 1.5rem;
    margin-top: 200px;
    max-width: 40%;
  }
  .para {
    max-width: 60%;
    color: var(--color-grey-2);
  }
  .portfolios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .resume {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* For screens with max-width 1050px */
@media screen and (max-width: 1050px) {
  nav ul li a {
    margin: 0 5px;
    max-width: 50%;
    align-items: center;
    padding: 14px 0px;
    font-size: 0.8rem;
  }
  .hero-text {
    font-size: 1rem;
    max-width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -172px;
  }
  .hero-section {
    flex-direction: column;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  .hero_image {
    width: 30%;
    margin-bottom: 149px;
  }
  .portfolios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* For screens with max-width 970px */
@media screen and (max-width: 970px) {
  nav ul li a {
    text-align: center;
    font-size: 1.8rem;
    align-items: center;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1000;
  }
  nav ul li {
    line-height: 30px;
  }
  nav ul li a {
    font-size: 1rem;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }

.hero-section {
  margin: 0 auto;
}
.hero-section .hero-text {
  font-size: 2rem;
  width: 100%;
  text-align: left;
}
.hero-section .image-container {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-section .image-container .hero_image {
    width: 30%;
  }
  
  .footer {
    padding: 50px 20px;
  }
  .footer-section {
    width: 100%;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .footer-section.about {
    margin-left: 30px;
    max-width: 50%;
  }
  .footer-section.links {
    margin-right: -65px;
    max-width: 50%;
  }
  .footer-section.links h2 {
    font-size: 1rem;
  }
  .footer-section.links ul {
    display: block !important;
  }
  .footer-section.links ul li {
    display: block !important;
  }
  .footer-section.links ul li a {
    display: inline !important;
  }
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container .left-about {
    padding-right: 0rem;
  }

  /* =================RESUME====================== */
  .resume .base {
    width: 100%;
  }
  .resume-bg .resume {
    width: 100%;
  }
  .resume .func .work {
    width: 100%;
  }
  .resume .func .edu {
    width: 100%;
  }

  .resume .base .profile .photo {
    width: 50%;
    margin: 0 auto;
  }

  .resume .func .edu-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-icons .contact-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 600;
  }
  .main-title h2 .bg-text {
    font-size: 4.3rem;
  }
  .contact-content-con {
    display: flex;
    padding-top: 3.5rem;
    flex-direction: column;
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .submit-btn {
    position: absolute;
    top: 141%;
    left: 25%;
  }
}

/* For screens with max-width 700px */
@media screen and (max-width: 700px) {
  /* .hero_image {
    width: 30%;
  } */
  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }
  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 3rem;
  }
  .main-title h2 .bg-text {
    font-size: 4rem;
  }
  .left-about h4 {
    font-size: 2.5rem;
  }
  .left-about p {
    font-size: 1.5rem;
  }
  .cv-btn {
    font-size: 14px;
    justify-items: center;
    margin-left: -150px;
  }

  .resume .func .skills-prog ul li .percentage {
    position: absolute;
    right: 50%;
    top: -10px;
  }

  .portfolios {
    margin-left: 10px;
    margin-right: 10px;
  }

  .submit-btn {
    position: absolute;
    top: 137%;
    left: 20%;
  }
}

/* For screens with max-width 600px */
@media screen and (max-width: 600px) {
  /* Hero Section */
  .image-container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-text {
    font-size: 1rem;
    max-width: 100%;
    margin-top: -172px;
  }
  .hero-section {
    display: inline-flex;
    flex-direction: column;
    max-width: 100%;
  }
  .typing-container {
    align-items: center;
    font-size: 1.5rem;
    white-space: wrap;
    overflow: hidden;
  }
  .hero_image {
    width: 60%;
    margin-bottom: 149px;
    margin-left: 200px;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .cv-btn {
    font-size: 10px;
  }
  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }

  .contact-item {
    flex-direction: column;
    margin: 1rem 0;
  }
  .contact-item p {
    font-size: 15px;
    color: var(--color-grey-2);
  }
  .contact-item span {
    font-size: 15px;
  }
  .contact-item .icon {
    grid-template-columns: 25px 1fr;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.3rem;
  }
  .main-title h2 .bg-text {
    font-size: 2.3rem;
  }

  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .submit-btn {
    position: absolute;
    top: 162%;
    left: 20%;
  }

  .footer-section {
    width: 100%;
    .footer-section.about {
      /* margin-left: -30px; */
      max-width: 100%;
    }
    .footer-section.links {
      margin-right: -35px;
      max-width: 50%;
    }
    .container {
      padding: 2rem 2.5rem !important;
    }

    .footer-content {
      display: flex;
      justify-content: space-between;
      /* flex-wrap: wrap; */
      flex-direction: column;
      max-width: 100%;
    }

    .resume .func .skills-prog ul li .percentage {
      position: absolute;
      right: 10%;
      top: -10px;
    }
  }
}
/* For screens with max-width 400px */
@media screen and (max-width: 400px) {
  .resume .func .interests-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .resume .func .skills-prog ul li .percentage {
    position: absolute;
    right: -15%;
    top: -10px;
  }
  .footer-section.about {
    margin-left: 16px;
    max-width: 100%;
  }

  .submit-btn {
    position: absolute;
    top: 170%;
    left: 10%;
  }
}

/* For screens with max-width 350px */
@media screen and (max-width: 350px) {
  .submit-btn {
    position: absolute;
    top: 178%;
    left: -2%;
  }

  .cv-btn {
    font-size: 14px;
    justify-items: center;
    margin-left: -340px;
  }
}
